.env
vendor
node_modules
public/build
cache
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
Dockerfile
docker-compose.yml
**.git
.idea
**.gitignore
**.gitattributes
**.sass-cache
*.env*
!.env.production
bootstrap/cache/**
dbdata
